<!DOCTYPE html>
<html lang="vi" id="top" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/cgv/layouts/head"></th:block>
<body class=" jobs-index-index">
<div class="wrapper">
    <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong><br/>
                    You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
            </div>
        </div>
    </noscript>
    <div class="page">
        <th:block th:insert="/cgv/layouts/header"></th:block>
        <div class="main-container col1-layout">
            <div class="breadcrumbs" itemprop="breadcrumb">
                <ul>
                    <li class="home">
                        <a href="#" title="Trở về trang chủ">Trang chủ</a>
                        <span>/ </span>
                    </li>
                    <li class="job_list">
                        <strong>Tuyển dụng</strong>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="col-main">
                    <div id="messages_jobs_view"></div>
                    <div class="page-title category-title">
                        <div class="slideshow-container">
                            <ul class="slideshow" id="home_big_banner">
                                <li> <a href="#"><img alt=""
                                                         src="https://www.cgv.vn/media/wysiwyg/web/_KZR0930.jpg"/></a>
                                </li>
                                <li> <a href="#"><img alt=""
                                                         src="https://www.cgv.vn/media/wysiwyg/web/THT_2724.png"/></a>
                                </li>
                                <li> <a href="#"><img alt=""
                                                         src="https://www.cgv.vn/media/wysiwyg/web/z4410924643120_ad97087d62f2128232ea4fe89883838b.png"/></a>
                                </li>
                                <li> <a href="#"><img alt=""
                                                         src="https://www.cgv.vn/media/wysiwyg/web/IMG_5649.png"/></a>
                                </li>
                            </ul>
                            <div class="slideshow-pager home_big_banner_pager">&nbsp;</div>
                            <span class="slideshow-prev home_big_banner_prev">&nbsp;</span> <span
                                class="slideshow-next home_big_banner_next">&nbsp;</span></div>
                        <p style="text-align: center;"></p>
                        <p class="heading-cgv23" style="text-align: center; font-size: 1.2em;"><strong><span
                                style="color: #ef2727;">ĐỒNG H&Agrave;NH C&Ugrave;NG CJ CGV VIỆT NAM</span></strong></p>
                        <p>CJ CGV trực thu&ocirc;̣c CJ Group, một trong những t&acirc;̣p đoàn kinh tế đa ng&agrave;nh
                            lớn nhất Hàn Qu&ocirc;́c. CJ CGV nằm trong trong top 05 cụm rạp chiếu phim lớn nhất to&agrave;n
                            cầu v&agrave; l&agrave; nh&agrave;
                            ph&aacute;t h&agrave;nh, cụm rạp chiếu phim lớn nhất tại Việt Nam.</p>
                        <p style="margin-bottom: 0;"><strong>Lịch sử ph&aacute;t triển</strong></p>
                        <table border="0">
                            <tbody>
                            <tr style="border-bottom: 1px solid;">
                                <td class="career-history"><strong><span>2005</span></strong></td>
                                <td class="history-cgv23">C&ocirc;ng ty TNHH Truyền th&ocirc;ng Megastar (tiền th&acirc;n
                                    của C&ocirc;ng ty TNHH CJ CGV Việt Nam) được th&agrave;nh lập.
                                </td>
                            </tr>
                            <tr>
                                <td class="career-history"><strong><span>2014</span></strong></td>
                                <td class="history-cgv23">C&ocirc;ng ty TNHH Truyền th&ocirc;ng MegaStar đổi t&ecirc;n
                                    th&agrave;nh C&ocirc;ng ty TNHH CJ CGV Việt Nam. C&aacute;c cụm rạp chiếu phim
                                    Megastar ch&iacute;nh thức chuyển đổi thương hiệu th&agrave;nh CGV Cinemas
                                    .
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="margin-top: 0;">C&ugrave;ng với việc ph&aacute;t triển c&aacute;c gi&aacute; trị cốt l&otilde;i
                            về nu&ocirc;i dưỡng nh&acirc;n t&agrave;i h&agrave;ng đầu, kiến tạo văn h&oacute;a cương nhu
                            để trở th&agrave;nh doanh nghiệp phong c&aacute;ch
                            sống to&agrave;n cầu. CJ CGV Việt Nam mong muốn mang đến nhiều cơ hội việc l&agrave;m cho c&aacute;c
                            t&agrave;i năng trẻ, năng động v&agrave; y&ecirc;u th&iacute;ch ng&agrave;nh c&ocirc;ng
                            nghiệp điện ảnh.</p>
                        <p>Ch&uacute;ng t&ocirc;i ch&agrave;o đ&oacute;n bạn gia nhập đại gia đ&igrave;nh CJ CGV Việt
                            Nam th&ocirc;ng qua c&aacute;c cơ hội nghề nghiệp cho cả khối văn ph&ograve;ng v&agrave;
                            khối cụm rạp:</p>
                        <p></p>
                        <p style="text-align: center;"><img alt=""
                                                            src="https://www.cgv.vn/media/wysiwyg/web/member-star.png"/>
                        </p>
                        <p style="text-align: center; font-size: 1.2em;">
                            <strong><span>K&Ecirc;NH TUYỂN DỤNG</span></strong></p>
                        <p></p>
                        <table border="0" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="text-align: center; width: 50%;">
                                    <p class="career23-p"><strong>KHỐI VĂN PH&Ograve;NG</strong></p>
                                    <p></p>
                                </td>
                                <td style="text-align: center; border-left: 1px solid #636363; width: 50%;">
                                    <p class="career23-p"><strong>KHỐI CỤM RẠP</strong></p>
                                    <p></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; width: 50%;"><a
                                        href="#" target="_blank"><img
                                        alt="" src="https://www.cgv.vn/media/wysiwyg/web/icon_web.png"
                                        style="padding-right: 1em;"/></a><a
                                        href="#"
                                        target="_blank"><img alt=""
                                                             src="https://www.cgv.vn/media/wysiwyg/web/icon_linkedin.png"/></a>
                                </td>
                                <td style="text-align: center; border-left: 1px solid #636363; width: 50%;"><a
                                        href="#" target="_blank"><img
                                        alt="" src="https://www.cgv.vn/media/wysiwyg/web/icon_web.png"
                                        style="padding-right: 1em;"/></a><a
                                        href="#"
                                        target="_blank"><img alt=""
                                                             src="https://www.cgv.vn/media/wysiwyg/web/icon_fb.png"/></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <p style="text-align: center;"><img alt=""
                                                            src="https://www.cgv.vn/media/wysiwyg/web/member-star.png"/>
                        </p>
                        <p style="text-align: center; font-size: 1.2em;">
                            <span><strong>C&Aacute;CH THỨC ỨNG TUYỂN</strong></span></p>
                        <p></p>
                        <table border="0" class="career23" style="width: 100%;">
                            <tbody>
                            <tr></tr>
                            <tr>
                                <td style="width: 50%;"></td>
                                <td style="width: 50%;"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="career23-bg career-sh">
                            <p align="center"><strong><span class="career-pos" style="font-size: 15px;">VỊ TR&Iacute; TO&Agrave;N THỜI GIAN</span></strong>
                            </p>
                            <div class="careerbg23"></div>
                            <div class="career23-content">
                                <div class="career23-head"><strong>Khối Văn Ph&ograve;ng/ Cụm Rạp</strong></div>
                                <div class="career23-ct">
                                    <p><strong><span>C&aacute;ch 1</span></strong>: Gửi CV đến email <strong>cgvtalent@cj.net</strong>
                                        với ti&ecirc;u đề "[HỌ T&Ecirc;N] - Ứng tuyển [VỊ TR&Iacute;]&rdquo;.</p>
                                    <p><strong><span>C&aacute;ch 2</span></strong>: Nộp hồ sơ trực tiếp tr&ecirc;n c&aacute;c
                                        trang tuyển dụng uy t&iacute;n m&agrave; CGV c&oacute; đăng tuyển như Linkedin,
                                        Vietnamwork, Careerbuilder, Hoteljob, Vieclam24,
                                        TopCV &hellip;.&nbsp;</p>
                                    <p></p>
                                </div>
                            </div>
                            <div class="careerbg23-bottom"></div>
                        </div>
                        <div class="career23-bg1 career-sh">
                            <p align="center"><strong><span class="career-pos" style="font-size: 15px;">&nbsp;VỊ TR&Iacute; B&Aacute;N THỜI GIAN&nbsp;&nbsp;</span></strong>
                            </p>
                            <div class="careerbg23"></div>
                            <div class="career23-content">
                                <div class="career23-head"><strong>Khối Cụm Rạp</strong></div>
                                <div class="career23-ct">
                                    <p><strong><span>C&aacute;ch 1</span></strong>:<strong><span>&nbsp;</span></strong>Nộp
                                        hồ sơ trực tiếp tại quầy Guest Service của cụm rạp CGV m&agrave; bạn muốn ứng
                                        tuyển.</p>
                                    <p><strong><span>C&aacute;ch 2</span></strong>: Theo d&otilde;i th&ocirc;ng tin
                                        tuyển dụng tr&ecirc;n Facebook - CJ CGV Careers.<strong></strong></p>
                                    <p style="text-align: left;"><span style="color: #898484;"><strong><em>*<span
                                            style="font-size: small;">Đối tượng:</span></em>
                                            </strong><span style="font-size: small;"><em> d&agrave;nh cho sinh vi&ecirc;n</em></span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <p style="color: #000; margin-bottom: 2px;"><strong><span>LƯU &Yacute;:</span></strong></p>
                        <ul style="padding-left: 15px;">
                            <li style="padding: 2px 0;">CJ CGV <strong>KH&Ocirc;NG</strong> thu bất kỳ chi ph&iacute;
                                tuyển dụng n&agrave;o dưới mọi h&igrave;nh thức (ph&iacute; hồ sơ, đồng phục&hellip;.).
                            </li>
                            <li style="padding: 2px 0;">Với những vị tr&iacute; cho khối Cụm Rạp, CJ CGV <strong>KH&Ocirc;NG</strong>
                                tuyển nh&acirc;n vi&ecirc;n th&ocirc;ng qua đơn vị kh&aacute;c.
                            </li>
                            <li style="padding: 2px 0;">Việc ứng vi&ecirc;n nộp hồ sơ xin việc tại c&ocirc;ng ty TNHH CJ
                                CGV Việt Nam đồng nghĩa với việc ứng vi&ecirc;n đồng &yacute; cho c&ocirc;ng ty TNHH CJ
                                CGV Việt Nam thu thập, sử dụng v&agrave;/hoặc xử l&yacute; dữ liệu
                                c&aacute; nh&acirc;n thể hiện trong hồ sơ xin việc để phục vụ cho việc x&aacute;c minh
                                danh t&iacute;nh &amp; c&ocirc;ng t&aacute;c tuyển dụng, l&agrave;m việc tại c&ocirc;ng
                                ty TNHH CJ CGV Việt Nam. Anh/Chị c&oacute;
                                thể tham khảo Quy đinh về việc bảo vệ dữ liệu c&aacute; nh&acirc;n đối với ứng vi&ecirc;n
                                <a href="#"
                                   target="_blank">tại đ&acirc;y</a>.
                            </li>
                        </ul>
                        <p></p>
                    </div>

                    <style>
                        .products-list a.jobs-shop span.jobfeature {
                            color: #ff0000;
                        }

                        .category-title p {
                            line-height: 1.5em;
                        }

                        .career23-content {
                            background: #f0eedc;
                            border: 2px solid #bcb890;
                        }

                        .career23-head {
                            padding: 1em 0 1em 0;
                        }

                        .heading-cgv23 span {
                            font-size: 21px;
                        }

                        .history-cgv23 {
                            padding: 1em 0;
                        }

                        @media only screen and (max-width: 771px) {
                            .main-container {
                                padding: 0 1em !important
                            }

                            .heading-cgv23 span {
                                font-size: 18px;
                            }

                            .career23-bg {
                                margin-right: 2%
                            }

                            .career23-bg,
                            .career23-bg1 {
                                width: 48%;
                                padding: 0
                            }

                            .career23-head {
                                padding: 1em;
                            }
                        }
                    </style>
                    <script type='text/javascript'>
                        $j(document).ready(function () {
                            $maxHeight = 0;
                            $j(".career23-content").each(function () {
                                if ($j(this).height() > $maxHeight) {
                                    $maxHeight = $j(this).height();
                                }
                            });
                            $j(".career23-content").height($maxHeight);
                        });
                        /*$j(window).on("resize", function(event){$maxHeight = 0;
$j(".career23-content").each(function(){
        if($j(this).height() > $maxHeight) {
        $maxHeight = $j(this).height() + 200;
        }
    });
    $j(".career23-content").height($maxHeight);
});*/
                        jQuery(function () {
                            jQuery('.mtw_banner_slide').cycle({
                                fx: 'fade'
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <th:block th:insert="/cgv/layouts/footer"></th:block>
        <div id="wishlist_edit_action_container"></div>
    </div>
</div>
</body>

</html>