<!DOCTYPE html>
<html lang="vi" id="top" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/cgv/layouts/head"></th:block>
<body class=" giftcard-index-index">
<div class="wrapper">
    <div class="page">
        <th:block th:insert="/cgv/layouts/header"></th:block>
        <div class="main-container col1-layout">
            <div class="main">
                <div class="col-main">
                    <div class="page-gift">
                        <div class="my-gift-card">
                            <div class="empty-collection">
                                <h1>Bạn chưa có thẻ quà tặng nào</h1>
                                <a title="Thêm thẻ mới" class="button"
                                   href="#">
                                    Thêm thẻ mới </a>
                            </div>
                        </div>
                        <div class="gift-category">
                            <div class="gutters">
                                <div class="contain-image">
                                     <a href="#">
                                        <div class="name-category">
                                            <div class="image-category"
                                                 style="background-image: url('https://www.cgv.vn/media//cinemas/cms//a/u/autumn.jpg');"></div>
                                            <div class="text-overlay">
                                                <h2>Fall-ing for you</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" class="see-all">Tất cả</a>
                            </div>
                            <div class="slide-giftcard">
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Fall-ing for you"
                                             src="https://www.cgv.vn/media/cinemas/cms//a/u/autumn_1.jpg">
                                    </a>
                                </div>
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Fall-ing for you"
                                             src="https://www.cgv.vn/media/cinemas/cms//a/u/autumn_2.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="gift-category">
                            <div class="gutters">
                                <div class="contain-image">
                                     <a href="#">
                                        <div class="name-category">
                                            <div class="image-category"
                                                 style="background-image: url('https://www.cgv.vn/media//cinemas/cms//t/h/thankyou3.png');"></div>
                                            <div class="text-overlay">
                                                <h2>Thank You</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" class="see-all">Tất cả</a>
                            </div>
                            <div class="slide-giftcard">
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Thank You"
                                             src="https://www.cgv.vn/media/cinemas/cms//t/h/thank_you_3-1.jpg">
                                    </a>
                                </div>
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Thank You"
                                             src="https://www.cgv.vn/media/cinemas/cms//t/h/thank_you_4-1.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="gift-category">
                            <div class="gutters">
                                <div class="contain-image">
                                     <a href="#">
                                        <div class="name-category">
                                            <div class="image-category"
                                                 style="background-image: url('https://www.cgv.vn/media//cinemas/cms//c/i/cine5.png');"></div>
                                            <div class="text-overlay">
                                                <h2>Cine</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" class="see-all">Tất cả</a>
                            </div>
                            <div class="slide-giftcard">
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Cine" src="https://www.cgv.vn/media/cinemas/cms//c/i/cine_1-1.jpg">
                                    </a>
                                </div>
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Cine" src="https://www.cgv.vn/media/cinemas/cms//c/i/cine_3-1.jpg">
                                    </a>
                                </div>
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Cine" src="https://www.cgv.vn/media/cinemas/cms//c/i/cine_5-1.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="gift-category">
                            <div class="gutters">
                                <div class="contain-image">
                                     <a href="#">
                                        <div class="name-category">
                                            <div class="image-category"
                                                 style="background-image: url('https://www.cgv.vn/media//cinemas/cms//b/d/bday4.png');"></div>
                                            <div class="text-overlay">
                                                <h2>Birthday</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" class="see-all">Tất cả</a>
                            </div>
                            <div class="slide-giftcard">
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Birthday"
                                             src="https://www.cgv.vn/media/cinemas/cms//b/i/birthday_2-1.jpg">
                                    </a>
                                </div>
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Birthday"
                                             src="https://www.cgv.vn/media/cinemas/cms//b/i/birthday_4-1.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="gift-category">
                            <div class="gutters">
                                <div class="contain-image">
                                     <a href="#">
                                        <div class="name-category">
                                            <div class="image-category"
                                                 style="background-image: url('https://www.cgv.vn/media//cinemas/cms//s/u/summer1.png');"></div>
                                            <div class="text-overlay">
                                                <h2>Summer vibes</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" class="see-all">Tất cả</a>
                            </div>
                            <div class="slide-giftcard">
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Summer vibes"
                                             src="https://www.cgv.vn/media/cinemas/cms//s/u/summer_1-1.jpg">
                                    </a>
                                </div>
                                <div class="gift-card">
                                     <a href="#">
                                        <img alt="Summer vibes"
                                             src="https://www.cgv.vn/media/cinemas/cms//s/u/summer_4-1.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        let swiper = new Swiper('.swiper', {
                            slidesPerView: 3,
                            direction: getDirection(),
                            navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },
                            breakpoints: {
                                375: {
                                    slidesPerView: 1,
                                    spaceBetween: 10
                                },
                                768: {
                                    slidesPerView: 2,
                                    spaceBetween: 10
                                },
                                1024: {
                                    slidesPerView: 3,
                                    spaceBetween: 0
                                },
                            },
                            on: {
                                resize: function () {
                                    swiper.changeDirection(getDirection());
                                },
                            },
                        });

                        function getDirection() {
                            return window.innerWidth <= 760 ? 'vertical' : 'horizontal';
                        }
                    </script>
                </div>
            </div>
        </div>
        <th:block th:insert="/cgv/layouts/footer"></th:block>
        <div id="wishlist_edit_action_container"></div>
    </div>
</div>
</body>

</html>