<!DOCTYPE html>
<html lang="vi" id="top"  xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/cgv/layouts/head" ></th:block>
<body class=" cms-index-index cms-home">
<th:block th:insert="/cgv/layouts/header" ></th:block>
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="std">
                <p>
                <div class="widget widget-static-block">
                    <div class="sect-person">
                        <ul>
                            <li><a class="theater" href="#">cgv theater</a></li>
                            <li><a class="now-sh" href="#">now
                                showing</a></li>
                            <li><a class="special" href="#">cgv
                                special</a></li>
                            <li><a class="event" href="#">Mua voucher, thẻ quả
                                tặng CGV</a></li>
                            <li><a class="ticket required-login" href="#">my ticket
                                info</a></li>
                            <li><a class="dc" href="#">discount info</a></li>
                            <li><a class="login-header" href="#">create
                                account quick</a></li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
            <div class="slideshow-container">
                <ul id="home_big_banner" class="slideshow">
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_261.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/a/w/aw-ctkc-980x448_5.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448-min_10.png"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_2__28.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/o/rolling_banner_16.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-banner_980x448-min.png"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/w/a/warrior_-_980wx448h_px.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv_84k_980448.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_1__58.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/v/n/vnmovies_rbanner.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/b/c/bc_x_cgv_-_11.2023_980x448.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/o/rolling_banner_20.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/g/i/gifted_week_rbanner.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/o/rolling_banner_980x448_26.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/z/4/z4886321393439_88373a699eeb1ec97586cb89d0bc1010.jpg"/>
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_1__60.jpg"/>
                        </a>
                    </li>
                </ul>
                <div class="slideshow-pager home_big_banner_pager">&nbsp;</div>
                <span class="slideshow-prev home_big_banner_prev">&nbsp;</span>
                <span class="slideshow-next home_big_banner_next">&nbsp;</span>
            </div>

            <div class="home-movie-selection">
                <div class="home-title">
                    <h2>Movie selection</h2>
                </div>

                <div class="slideshow-containe-movier feature_slide_show_480_767">
                    <ul class="feature_slide_show" >
                        <li class="poster-film film-lists item" th:each="i : ${schedules}">
                            <img class="product-img"
                                 th:src="@{'/images/'+${i.movie.images[0].imageName}}"
                                 th:alt="${i.movie.title}"/>
                            <input type="hidden" value="movie-trailer-5571">
                            <div class="feature_film_content">
                                <h3 th:text="${i.movie.name}"></h3>
                                <a th:href="@{'/movie-detail?id=' + ${i.id}}" class="btn-booking button">Xem chi tiết</a>
                            </div>
                            <div class="play-button">
                                <span><span>Play</span></span>
                                <div style="display:none">
                                    <span class='movie-trailer' th:text="${i.movie.trailerUrl}"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span class="feature_slide_show_prev"><<</span>
                    <span class="feature_slide_show_next">>></span>
                </div>
            </div>



            <script type="text/javascript">
                $j(window).bind("load", function () {
                    var width = $j(window).width();
                    if (width >= 979) {
                        reinitCycle(4);
                    } else if (width >= 770) {
                        reinitCycle(3);
                    } else if (width >= 479) {
                        reinitCycle(2);
                    } else {
                        reinitCycle(1);
                    }

                    $j(".play-button").click(function () {
                        var trailer = $j(this).find('span.movie-trailer');
                        if (typeof $j('#main-popup').attr('id') != undefined) $j.colorbox.remove();
                        $j.colorbox({
                            iframe: true,
                            innerWidth: 640,
                            innerHeight: 390,
                            href: trailer.html()
                        });
                    });
                });

                $j(window).on('resize', function () {
                    var width = $j(window).width();
                    $j('.feature_slide_show').cycle('destroy');
                    if (width >= 979) {
                        reinitCycle(4);
                    } else if (width >= 770) {
                        reinitCycle(3);
                    } else if (width >= 479) {
                        reinitCycle(2);
                    } else {
                        reinitCycle(1);
                    }
                });

                function reinitCycle(visibleSlides) {
                    try {
                        $j('.feature_slide_show').cycle({
                            "carouselSlideDimension": "240px",
                            "carouselVisible": visibleSlides,
                            "fx": "carousel",
                            "timeout": 0,
                            "next": ".feature_slide_show_next",
                            "prev": ".feature_slide_show_prev",
                            "slideActiveClass": "active",
                            "slides": "li",
                            "allowWrap": false,
                        });
                    } catch (err) {
                        console.log(err.message);
                    }
                }


            </script>
            <div class="product-collateral toggle-content tabs home-event">
                <div class="home-title">
                    <h2>event</h2>
                </div>

                <dl id="collateral-tabs" class="collateral-tabs">
                    <dt class="tab"><span>Thành Viên CGV</span></dt>
                    <dd class="tab-container">
                        <div class="tab-content">
                            <div class="home-show-event">
                                <ul class="slide_home_event thnhvincgv">
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/2/4/240x201-uu.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/2/0/2023_happy_wed_75k_000_240x201.png"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/b/i/birthday_popcorn_box_240x201.png"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/u/2/u22-102023-240x201.jpg"/>
                                        </a>
                                    </li>

                                </ul>
                                <span class="slide_home_event_prev thnhvincgv_prev"><<</span>
                                <span class="slide_home_event_next thnhvincgv_next">>></span>
                            </div>
                        </div>
                    </dd>
                    <dt class="tab"><span>Tin Mới & Ưu Đãi</span></dt>
                    <dd class="tab-container">
                        <div class="tab-content">
                            <div class="home-show-event">
                                <ul class="slide_home_event tinmiui">
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv_84k_240x201_1.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv_news_offer_240x201_1.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/s/c/scb_cgv_240x201_vn_3.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/2/4/240x201-px-cgv_1.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/2/4/240x201_47.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/_/c/_cgv_a_co_tre_n_zlp_240x201_1.png"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/a/d/adapt_cgv_240x201_1.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/2/4/240x201_49.jpg"/>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#">
                                            <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-980x488px_2.png"/>
                                        </a>
                                    </li>

                                </ul>
                                <span class="slide_home_event_prev tinmiui_prev"><<</span>
                                <span class="slide_home_event_next tinmiui_next">>></span>
                            </div>
                        </div>
                    </dd>


                    <script type="text/javascript">
                        $j(window).bind("load", function () {
                            var width = $j(window).width();
                            if (width >= 979) {
                                reinitCycle2(4);
                            } else if (width >= 770) {
                                reinitCycle2(3);
                            } else if (width >= 479) {
                                reinitCycle2(2);
                            } else {
                                reinitCycle2(1);
                            }
                        });

                        $j(window).on('resize', function () {
                            var width = $j(window).width();
                            if (width >= 979) {
                                reinitCycle2(4);
                            } else if (width >= 770) {
                                reinitCycle2(3);
                            } else if (width >= 479) {
                                reinitCycle2(2);
                            } else {
                                reinitCycle2(1);
                            }
                        });

                        function reinitCycle2(visibleSlides) {
                            try {
                                $j('.thnhvincgv').cycle('destroy');
                                $j('.thnhvincgv').cycle({
                                    "carouselSlideDimension": "240px",
                                    "carouselVisible": visibleSlides,
                                    "fx": "carousel",
                                    "timeout": 0,
                                    "next": ".thnhvincgv_next",
                                    "prev": ".thnhvincgv_prev",
                                    "slideActiveClass": "active",
                                    "slides": "li",
                                    "allowWrap": false,
                                });
                                $j('.tinmiui').cycle('destroy');
                                $j('.tinmiui').cycle({
                                    "carouselSlideDimension": "240px",
                                    "carouselVisible": visibleSlides,
                                    "fx": "carousel",
                                    "timeout": 0,
                                    "next": ".tinmiui_next",
                                    "prev": ".tinmiui_prev",
                                    "slideActiveClass": "active",
                                    "slides": "li",
                                    "allowWrap": false,
                                });
                            } catch (err) {
                                console.log(err.message);
                            }
                        }
                    </script>
                </dl>
            </div>
            <div class="home-promotion-card">
                <ul class="promos">
                    <li class="col-ad">
                        <div class="format-border"> <a href="#"><img
                                src="https://www.cgv.vn/media/wysiwyg/2023/214x245.jpg"/></a></div>
                    </li>
                    <li class="col-hd">
                        <div class="format-border"> <a href="#"><img
                                src="https://www.cgv.vn/media/wysiwyg/2023/102023/U22_20231019_170945954.jpg"/></a>
                        </div>
                    </li>
                    <li class="col-ad">
                        <div class="format-border"> <a href="#"><img
                                src="https://www.cgv.vn/media/wysiwyg/2023/thue-rap.png"/></a></div>
                        <div class="format-border"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="/cgv/layouts/footer" ></th:block>
<div id="wishlist_edit_action_container"></div>
</body>
</html>