<!DOCTYPE html>
<html lang="vi" id="top" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/cgv/layouts/head"></th:block>
<body class=" catalog-category-view categorypath-movie-voucher category-movie-voucher">
<div class="wrapper">
    <div class="page">
        <th:block th:insert="cgv/layouts/header"></th:block>
        <div class="main-container col1-layout">
            <div class="breadcrumbs" itemprop="breadcrumb">
                <ul>
                    <li class="home">
                        <a href="#" title="Trở về trang chủ">Trang chủ</a>
                        <span>/ </span>
                    </li>
                    <li class="category11">
                        <a href="#" title="">Cultureplex</a>
                        <span>/ </span>
                    </li>
                    <li class="category15">
                        <strong>Voucher Phim</strong>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="col-main">

                    <div class="category-cgv-voucher">
                        <ul>
                            <li class="active">
                                <a class="movie-voucher"
                                   href="#">Voucher Phim</a>
                            </li>
                        </ul>
                    </div>

                    <div class="page-title category-title">
                        <h1>Voucher Phim</h1>
                    </div>


                    <div class="category-products cgv-voucher-cate">
                        <ul class="products-grid products-grid--max-3-col">
                            <li class="film-lists item last">
                                <div class="product-info">
                                    <h2 class="product-name"><a
                                            href="#"
                                            title="Voucher 2D">Voucher 2D</a></h2>


                                    <span class="price">110.000,00 ₫</span>
                                    <!--button type="button" title="Mua" class="button btn-giftcard" onclick="buy(257, 'TaaiFrJkEaEzzykQ')"-->
                                    <button onclick="location.href='https://www.cgv.vn/default/2d-all-days-online-vn.html'"
                                            type="button" title="Mua" class="button btn-giftcard">
                                        <span><span>Mua</span></span>
                                    </button>

                                    <div class="short-descriptions">
                                        <div class="std">Có giá trị đổi vé xem phim 2D</div>
                                    </div>
                                </div>

                                <a href="#" title="2D_Voucher"
                                   class="product-image">
                                    <img id="product-collection-image-257"
                                         src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/245x/1e805736ee3519448ab72df742a3cdae/v/o/voucher1.png"
                                         alt="2D_Voucher"/>
                                </a>
                            </li>
                            <li class="film-lists item last">
                                <div class="product-info">
                                    <h2 class="product-name"><a
                                            href="#"
                                            title="Voucher 3D">Voucher 3D</a></h2>


                                    <span class="price">140.000,00 ₫</span>
                                    <!--button type="button" title="Mua" class="button btn-giftcard" onclick="buy(259, 'TaaiFrJkEaEzzykQ')"-->
                                    <button onclick="location.href='https://www.cgv.vn/default/3d-all-days-online-vn.html'"
                                            type="button" title="Mua" class="button btn-giftcard">
                                        <span><span>Mua</span></span>
                                    </button>

                                    <div class="short-descriptions">
                                        <div class="std">Có giá trị đổi vé xem phim 3D</div>
                                    </div>
                                </div>

                                <a href="#" title="3D_Voucher"
                                   class="product-image">
                                    <img id="product-collection-image-259"
                                         src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/245x/1e805736ee3519448ab72df742a3cdae/t/i/ticket_voucher_2__1.png"
                                         alt="3D_Voucher"/>
                                </a>
                            </li>
                            <li class="film-lists item last">
                                <div class="product-info">
                                    <h2 class="product-name"><a
                                            href="#"
                                            title="Voucher IMAX">Voucher IMAX</a></h2>


                                    <span class="price">180.000,00 ₫</span>
                                    <!--button type="button" title="Mua" class="button btn-giftcard" onclick="buy(261, 'TaaiFrJkEaEzzykQ')"-->
                                    <button onclick="location.href='https://www.cgv.vn/default/imax-all-days-online-vn.html'"
                                            type="button" title="Mua" class="button btn-giftcard">
                                        <span><span>Mua</span></span>
                                    </button>

                                    <div class="short-descriptions">
                                        <div class="std">Có giá trị đổi vé xem phim IMAX 2D/3D<br/>
                                        </div>
                                    </div>
                                </div>

                                <a href="#" title="IMAX_Voucher"
                                   class="product-image">
                                    <img id="product-collection-image-261"
                                         src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/245x/1e805736ee3519448ab72df742a3cdae/s/p/special_cinema-02-cropped.jpg"
                                         alt="IMAX_Voucher"/>
                                </a>
                            </li>
                            <li class="film-lists item last">
                                <div class="product-info">
                                    <h2 class="product-name"><a
                                            href="#"
                                            title="Voucher 4DX">Voucher 4DX</a></h2>


                                    <span class="price">180.000,00 ₫</span>
                                    <!--button type="button" title="Mua" class="button btn-giftcard" onclick="buy(265, 'TaaiFrJkEaEzzykQ')"-->
                                    <button onclick="location.href='https://www.cgv.vn/default/4dx-all-days-online-vn.html'"
                                            type="button" title="Mua" class="button btn-giftcard">
                                        <span><span>Mua</span></span>
                                    </button>

                                    <div class="short-descriptions">
                                        <div class="std">Có giá trị đổi vé xem phim 4DX 2D/3D<br/>
                                        </div>
                                    </div>
                                </div>

                                <a href="#" title="4DX_Voucher"
                                   class="product-image">
                                    <img id="product-collection-image-265"
                                         src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/245x/1e805736ee3519448ab72df742a3cdae/s/p/special_cinema-03-cropped.jpg"
                                         alt="4DX_Voucher"/>
                                </a>
                            </li>
                            <li class="film-lists item last">
                                <div class="product-info">
                                    <h2 class="product-name"><a
                                            href="#"
                                            title="Voucher Gold Class">Voucher Gold Class</a></h2>


                                    <span class="price">250.000,00 ₫</span>
                                    <!--button type="button" title="Mua" class="button btn-giftcard" onclick="buy(267, 'TaaiFrJkEaEzzykQ')"-->
                                    <button onclick="location.href='https://www.cgv.vn/default/gold-class-online-vn.html'"
                                            type="button" title="Mua" class="button btn-giftcard">
                                        <span><span>Mua</span></span>
                                    </button>

                                    <div class="short-descriptions">
                                        <div class="std">Có giá trị đổi vé xem phim rạp Gold Class<br/>
                                        </div>
                                    </div>
                                </div>

                                <a href="#"
                                   title="Gold Class_Voucher" class="product-image">
                                    <img id="product-collection-image-267"
                                         src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/245x/1e805736ee3519448ab72df742a3cdae/s/p/special_cinema-04-cropped.jpg"
                                         alt="Gold Class_Voucher"/>
                                </a>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])
                        </script>
                    </div>
                    <style>
                        .products-grid .product-info {
                            padding-bottom: 20px !important;
                        }
                    </style>

                    <div id="loading-mask" style="left: -2px; top: 0px;">
                        <p class="loader" id="loading_mask_loader">
                            <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/ajax-loader.gif"
                                 alt="Loading...">
                            <br>Đang tải thông tin... </p>
                    </div>
                    <style>
                        .category-movie-voucher .page-title h1 {
                            margin-bottom: 0;
                        }

                        .category-movie-voucher .category-title {
                            margin-bottom: 35px;
                            clear: both;
                        }

                        .category-gift-card .category-title {
                            clear: both;
                        }

                        .category-movie-voucher .btn-giftcard {
                            /*background: url(../images/btn_buy_grey.png) no-repeat !important;*/
                        }

                        .category-movie-voucher .products-grid li .product-info {
                            text-align: left;
                        }
                    </style>
                    <script type="text/javascript">
                        var phone = '2124771050',
                            formatted = phone.substr(0, 3) + '****' + phone.substr(phone.length - 3, 3);
                    </script>
                </div>
            </div>
        </div>
        <th:block th:insert="cgv/layouts/footer"></th:block>
        <div id="wishlist_edit_action_container"></div>
    </div>
</div>
</body>
</html>