<!DOCTYPE html>
<html lang="vi" id="top" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/cgv/layouts/head"></th:block>
<body class=" cms-page-view cms-payment-policy">
<div class="wrapper">
    <div class="page">
        <th:block th:insert="/cgv/layouts/footer"></th:block>
        <div class="main-container col2-left-layout">
            <div class="breadcrumbs" itemprop="breadcrumb">
                <ul>
                    <li class="home">
                        <a href="#" title="Trở về trang chủ">Trang chủ</a>
                        <span>/ </span>
                    </li>
                    <li class="cms_page">
                        <strong>Chính sách thanh toán</strong>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="col-left sidebar col-left-first">
                    <div class="block block-cms-menu">
                        <div class="block-content">
                            <ul>
                                <li> <a href="#"><span>Giới thiệu</span></a></li>
                                <li> <a href="#"><span>Li&ecirc;n Hệ CGV</span></a>
                                </li>
                                <li> <a href="#"><span>Điều khoản chung</span></a>
                                </li>
                                <li>
                                     <a href="#"><span>Điều khoản giao dich</span></a>
                                </li>
                                <li> <a href="#"><span>Ch&iacute;nh s&aacute;ch thanh to&aacute;n</span></a>
                                </li>
                                <li> <a href="#"><span>Ch&iacute;nh s&aacute;ch bảo mật</span></a>
                                </li>
                                <li><span><a
                                        href="#"><span>C&acirc;u hỏi thường gặp</span></a>
                                        </span>
                                </li>
                                <li><span><a
                                        href="#"><span>Dành cho đối tác</span></a>
                                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                        // <![CDATA[
                        $j(".block-cms-menu li").each(function () {
                            var self = this;
                            href = $j(this).find('a');
                            for (var i = 0; i < href.length; i++) {
                                var harray = $j(href[i]).attr('href').split("/");
                                var charray = window.location.href.split("/");
                                if (harray[harray.length - 2] == charray[charray.length - 2]) {
                                    $j(self).addClass('active');
                                    break;
                                }
                            }
                        });
                        // ]]>
                    </script>
                </div>
                <div class="col-main">
                    <div class="std">
                        <div class="cms-page-title"><span style="color: #ff0000;"> <strong>CH&Iacute;NH S&Aacute;CH THANH TO&Aacute;N</strong> </span>
                        </div>
                        <div class="cms-page-content privacy-policy-cms">
                            <div class="cms-tap">
                                <h3><strong>1. QUY ĐỊNH VỀ THANH TO&Aacute;N</strong></h3>
                                <p>Qu&yacute; Kh&aacute;ch h&agrave;ng c&oacute; thể lựa chọn c&aacute;c h&igrave;nh
                                    thức thanh to&aacute;n sau để thanh to&aacute;n cho giao dịch đặt v&eacute; tr&ecirc;n
                                    Ứng Dụng của CGV Việt Nam:</p>
                                <p>(i) Thẻ Thanh to&aacute;n Quốc tế hoặc thẻ Thanh to&aacute;n Nội địa;</p>
                                <p>(ii) V&iacute; điện tử (Momo, Zalopay, ShopeePay, Viettelpay);</p>
                                <p>(iii) C&aacute;c cổng thanh to&aacute;n Payoo, VNPAY v&agrave; ứng dụng QR code;</p>
                                <p>(iv) Thẻ qu&agrave; Tặng CGV Cinemas (CGV Gift cards, CGV E-Gift cards), Phiếu đổi v&eacute;
                                    Xem phim CGV Cinemas (CGV vouchers, CGV E-vouchers);</p>
                                <p>(v) Thẻ CGVIANS v&agrave; thẻ CJ Members; v&agrave;</p>
                                <p>(vi) Điểm thưởng t&iacute;ch lũy của Th&agrave;nh vi&ecirc;n CGV Việt Nam theo chương
                                    tr&igrave;nh t&iacute;ch lũy điểm thưởng tại từng thời điểm.</p>
                                <h3><strong>2. CHI TIẾT C&Aacute;C H&Igrave;NH THỨC THANH TO&Aacute;N</strong></h3>
                                <p>-&nbsp;&nbsp;<strong>Điểm thưởng t&iacute;ch lũy của Th&agrave;nh vi&ecirc;n CGV Việt
                                    Nam (Membership Point)</strong>: Mỗi 01 điểm thưởng tương đương với 1.000 VND. Điểm
                                    thưởng n&agrave;y, bạn c&oacute; thể sử dụng
                                    để (1) Thanh to&aacute;n v&eacute; xem phim; (2) Mua c&aacute;c sản phẩm đồ ăn thức
                                    uống tại hệ thống CGV; (3) Đổi sang h&agrave;n trăm ng&agrave;n voucher ưu đ&atilde;i
                                    c&aacute;c sản phẩm/dịch vụ của c&aacute;c
                                    b&ecirc;n đối t&aacute;c thứ 3 tr&ecirc;n CGV Reward/Đổi ưu đ&atilde;i. Khi sử dụng
                                    điểm thưởng, bạn vui l&ograve;ng xuất tr&igrave;nh thẻ th&agrave;nh vi&ecirc;n để
                                    được nh&acirc;n vi&ecirc;n hỗ trợ thanh to&aacute;n.
                                    Điểm thưởng được sử dụng phải từ 20 điểm trở l&ecirc;n (Chưa c&oacute; quy định cụ
                                    thể về mức điểm sử dụng tối thiểu đối với c&aacute;c sản phẩm voucher tr&ecirc;n CGV
                                    Reward).</p>
                                <p>Để kiểm tra điểm thưởng, bạn vui l&ograve;ng truy cập v&agrave;o mục T&agrave;i Khoản
                                    CGV tr&ecirc;n Ứng Dụng.</p>
                                <p>-&nbsp;&nbsp;<strong>Thẻ</strong><strong> qu&agrave; Tặng CGV
                                    Cinemas </strong><strong>(CGV Gift cards, CGV E-Gift
                                    cards)</strong><strong>, </strong><strong>Phiếu đổi v&eacute; Xem phim CGV Cinemas
                                    (CGV vouchers, CGV E-vouchers)</strong>:&nbsp;Với
                                    Thẻ Qu&agrave; Tặng CGV Cinemas hoặc Phiếu đổi v&eacute; Xem phim CGV Cinemas vật l&yacute;,
                                    bạn c&oacute; thể t&igrave;m mua tại c&aacute;c Cụm Rạp Chiếu Phim CGV Cinemas to&agrave;n
                                    quốc với c&aacute;c mệnh gi&aacute;
                                    từ 100.000đ. Với Thẻ Qu&agrave; Tặng CGV Cinemas hoặc Phiếu đổi v&eacute; Xem phim
                                    CGV Cinemas trực tuyến (CGV E-Gift cards, CGV E-vouchers) bạn c&oacute; thể dễ d&agrave;ng
                                    mua tại Ứng Dụng c&oacute; c&aacute;c
                                    mệnh gi&aacute;: 100.000đ - 200.000đ - 300.000đ - 500.000đ - 1.000.000đ.</p>
                                <p>Mỗi loại <strong>Phiếu đổi v&eacute; Xem phim CGV Cinemas</strong> sẽ c&oacute; gi&aacute;
                                    trị quy đổi v&agrave; thời hạn sử dụng kh&aacute;c nhau. Bạn vui l&ograve;ng đọc kỹ
                                    c&aacute;c điều khoản sử dụng ở mặt sau
                                    <strong>Phiếu đổi v&eacute; Xem phim CGV Cinemas</strong> để biết th&ecirc;m chi
                                    tiết.&nbsp;Khi thanh to&aacute;n trực tuyến, bạn vui l&ograve;ng đăng k&yacute; m&atilde;
                                    <strong>Phiếu đổi v&eacute; Xem phim CGV Cinemas</strong> v&agrave; m&atilde; PIN để
                                    thực hiện thanh to&aacute;n. Xin lưu &yacute; <strong>Phiếu đổi v&eacute; Xem phim
                                        CGV Cinemas </strong>vật l&yacute; sau khi mất lớp tr&aacute;ng bạc sẽ kh&ocirc;ng
                                    thể đổi v&eacute;
                                    tại quầy.</p>
                                <p>Đặc biệt, bạn c&oacute; thể gửi k&egrave;m lời ch&uacute;c b&iacute; mật d&agrave;nh
                                    cho "người thương" qua <strong>Thẻ</strong><strong> qu&agrave; Tặng CGV
                                        Cinemas </strong><strong>(CGV Gift cards, CGV E-Gift cards)</strong>.</p>
                                <p>-&nbsp;&nbsp;<strong>V&iacute; Điện Tử (Momo, Zalopay, ShopeePay,
                                    Viettelpay)</strong> l&agrave;m phương thức thanh to&aacute;n tr&ecirc;n Ứng Dụng.
                                    Hoặc nhanh ch&oacute;ng hơn bằng c&aacute;ch mở V&iacute; MoMo v&agrave;
                                    chọn mục "Mua V&eacute; Xem Phim", xem th&ocirc;ng tin chi tiết:&nbsp;<a
                                            href="#" target="_blank">Tại đ&acirc;y</a>
                                </p>
                                <p>-&nbsp;&nbsp;<strong>Thẻ ATM (Thẻ ghi nợ/thanh to&aacute;n /trả trước nội
                                    địa)</strong>: Để thanh to&aacute;n bằng thẻ ng&acirc;n h&agrave;ng nội địa, thẻ của
                                    kh&aacute;ch h&agrave;ng phải được đăng k&yacute; sử dụng
                                    t&iacute;nh năng thanh to&aacute;n trực tuyến, hoặc ng&acirc;n h&agrave;ng điện tử
                                    của Ng&acirc;n h&agrave;ng. Giao dịch phải được ghi nhận th&agrave;nh c&ocirc;ng từ
                                    th&ocirc;ng b&aacute;o cấp ph&eacute;p th&agrave;nh
                                    c&ocirc;ng do hệ thống cổng thanh to&aacute;n trả về (đảm bảo số dư/hạn mức v&agrave;
                                    x&aacute;c thực kh&aacute;ch h&agrave;ng theo quy định sử dụng của thẻ).</p>
                                <p>-&nbsp;&nbsp;<strong>Thẻ t&iacute;n dụng, thẻ thanh to&aacute;n quốc tế, thẻ trả
                                    trước quốc tế</strong>: Thẻ t&iacute;n dụng/ghi nợ/trả trước VISA, MasterCard, JCB,
                                    Union Pay, Amex của c&aacute;c Ng&acirc;n h&agrave;ng
                                    trong nước v&agrave; nước ngo&agrave;i ph&aacute;t h&agrave;nh. Giao dịch phải được
                                    ghi nhận cấp ph&eacute;p th&agrave;nh c&ocirc;ng do đ&uacute;ng hệ thống cổng thanh
                                    to&aacute;n trả về (đảm bảo số dư/hạn mức v&agrave;
                                    x&aacute;c thực kh&aacute;ch h&agrave;ng theo quy định sử dụng của thẻ).</p>
                                <h3><strong>3. DANH S&Aacute;CH THẺ ĐƯỢC CHẤP NHẬN THANH TO&Aacute;N TRỰC TUYẾN</strong>
                                </h3>
                                <p><em>(Cập nhật theo th&ocirc;ng b&aacute;o của nh&agrave; cung cấp dịch vụ)</em></p>
                                <p><strong>Thẻ quốc tế:</strong></p>
                                <p>- Visa</p>
                                <p>- MasterCard</p>
                                <p>- JCB</p>
                                <p>- American Express</p>
                                <p>- Union Pay</p>
                                <p><strong>Thẻ nội địa:</strong></p>
                                <p>- Ng&acirc;n h&agrave;ng N&ocirc;ng nghiệp v&agrave; ph&aacute;t triển n&ocirc;ng th&ocirc;n
                                    - Agribank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Ngoại thương Việt Nam - Vietcombank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Đ&ocirc;ng &Aacute; &ndash; Dong A bank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP C&ocirc;ng thương Việt Nam - Vietinbank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Kỹ thương Việt Nam &ndash; Techcombank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Quốc tế Việt Nam &ndash; VIB.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Ti&ecirc;n phong &ndash; TienphongBank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Ph&aacute;t triển Nh&agrave; Tp.HCM &ndash; HDBank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP S&agrave;i g&ograve;n &ndash; H&agrave; Nội &ndash;
                                    SHB.</p>
                                <p>- Ng&acirc;n h&agrave;ng Xuất nhập khẩu Việt Nam &ndash; Eximbank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP H&agrave;ng Hải Việt Nam &ndash; MSB.</p>
                                <p>- Ng&acirc;n h&agrave;ng Việt &Aacute; - VietA Bank.</p>
                                <p>- Ng&acirc;n h&agrave;ng Qu&acirc;n đội &ndash; MB.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP Nam &Aacute; - Nam A Bank.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP S&agrave;i G&ograve;n Thương T&iacute;n &ndash;
                                    Sacombank.</p>
                                <p>- Ng&acirc;n H&agrave;ng TMCP Đ&ocirc;ng Nam &Aacute; &ndash; SeABank.</p>
                                <p>- Ng&acirc;n H&agrave;ng TMCP Đại Dương &ndash; OceanBank.</p>
                                <p>- Ng&acirc;n H&agrave;ng Đầu Tư v&agrave; Ph&aacute;t triển Việt Nam &ndash;
                                    BIDV.</p>
                                <p>- Ng&acirc;n h&agrave;ng Việt Nam Thịnh Vượng &ndash; VPBank.</p>
                                <p>- Ng&acirc;n H&agrave;ng TMCP Bắc &Aacute; - BAC A BANK.</p>
                                <p>- Ng&acirc;n h&agrave;ng TMCP AN B&Igrave;NH &ndash; ABBANK.</p>
                                <h3><strong>4. TRƯỜNG HỢP GIAO DỊCH THANH TO&Aacute;N KH&Ocirc;NG TH&Agrave;NH C&Ocirc;NG</strong>
                                </h3>
                                <p>Giao dịch thanh to&aacute;n kh&ocirc;ng th&agrave;nh c&ocirc;ng c&oacute; thể do
                                    nhiều nguy&ecirc;n nh&acirc;n. Bạn tham khảo c&aacute;c nguy&ecirc;n nh&acirc;n
                                    sau:</p>
                                <p>- Chưa đăng k&yacute; chức năng thanh to&aacute;n tr&ecirc;n Internet với Ng&acirc;n
                                    h&agrave;ng</p>
                                <p>- Đối với thẻ Visa, MasterCard: Trong qu&aacute; tr&igrave;nh thanh to&aacute;n, c&oacute;
                                    thể bạn được y&ecirc;u cầu nhập Mật khẩu của chương tr&igrave;nh Verified by Visa
                                    hoặc MasterCard SecureCode... nhưng bạn đ&atilde;
                                    kh&ocirc;ng ho&agrave;n th&agrave;nh bước x&aacute;c thực n&agrave;y.</p>
                                <p>- Thẻ kh&ocirc;ng đủ hạn mức/ số dư để thanh to&aacute;n. Một số Ng&acirc;n h&agrave;ng
                                    c&oacute; quy định cả hạn mức chi ti&ecirc;u theo ng&agrave;y cho thẻ.</p>
                                <p>- Nhập sai th&ocirc;ng tin thẻ.</p>
                                <p>Vui l&ograve;ng li&ecirc;n hệ hotline 1900 6017 hoặc Ng&acirc;n h&agrave;ng ph&aacute;t
                                    h&agrave;nh thẻ để t&igrave;m hiểu nguy&ecirc;n nh&acirc;n ch&iacute;nh
                                    x&aacute;c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-left sidebar"></div>
            </div>
        </div>
        <th:block th:insert="/cgv/layouts/footer"></th:block>
        <div id="wishlist_edit_action_container"></div>
    </div>
</div>
</body>
</html>