<div class="nav-header">
    <a  href="#" class="brand-logo">
        CGV
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class=" ai-icon" href="/admin" aria-expanded="false">
                    <i class="fa-solid fa-users"></i>
                    <span class="nav-text">Customer</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon"  href="#" aria-expanded="false">
                    <i class="fa-solid fa-people-roof"></i>
                    <span class="nav-text">Cinemas </span>
                </a>
                <ul aria-expanded="false">
                    <li><a  href="/admin/add-cinema">Add Cinema</a></li>
                    <li><a  href="/admin/list-cinema">All Cinemas</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon"  href="#" aria-expanded="false">
                    <i class="fa-solid fa-person-booth"></i>
                    <span class="nav-text">Theaters </span>
                </a>
                <ul aria-expanded="false">
                    <li><a  href="/admin/add-theater">Add Theater</a></li>
                    <li><a  href="/admin/list-theater">All Theaters</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon"  href="#" aria-expanded="false">
                    <i class="fa-solid fa-clapperboard"></i>
                    <span class="nav-text">Movie</span>
                </a>
                <ul aria-expanded="false">
                    <li><a  href="/admin/add-movie">Add movie</a></li>
                    <li><a  href="/admin/list-movie">All movie</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon"  href="#" aria-expanded="false">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <span class="nav-text">Schedules </span>
                </a>
                <ul aria-expanded="false">
                    <li><a  href="/admin/add-schedule">Add Schedule</a></li>
                    <li><a  href="/admin/list-schedule">All Schedules</a></li>
                </ul>
            </li>
            <div class="copyright">
                <p>Tixia Ticketing Admin Dashboard <br/>© 2022 All Rights Reserved</p>
                <p class="op5">Made with <span class="heart"></span> by DexignZone</p>
            </div>
        </ul>
    </div>
</div>
