

<script th:src="@{/vendor/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/vendor/clockpicker/js/bootstrap-clockpicker.min.js}"></script>
<script th:src="@{/vendor/jquery-asColor/jquery-asColor.min.js}"></script>
<script th:src="@{/vendor/jquery-asGradient/jquery-asGradient.min.js}"></script>
<script th:src="@{/vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js}"></script>
<script th:src="@{/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
<script th:src="@{/vendor/pickadate/picker.js}"></script>
<script th:src="@{/vendor/pickadate/picker.time.js}"></script>
<script th:src="@{/vendor/pickadate/picker.date.js}"></script>
<script th:src="@{/js/plugins-init/bs-daterange-picker-init.js}"></script>
<script th:src="@{/js/plugins-init/clock-picker-init.js}"></script>
<script th:src="@{/js/plugins-init/jquery-asColorPicker.init.js}"></script>
<script th:src="@{/js/plugins-init/material-date-picker-init.js}"></script>
<script th:src="@{/js/plugins-init/pickadate-init.js}"></script>

