<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="admin/layouts/head"></th:block>
<body>
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<div id="main-wrapper">
    <th:block th:insert="admin/layouts/layout"></th:block>
    <!--  todo content-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row mb-5 align-items-center">
                <div class="col-xl-9">
                    <div class="card m-0 ">
                        <div class="card-body py-3 py-md-2">
                            <div class="row align-items-center">
                                <div class="col-md-5 mb-3 mb-md-0">
                                    <div class="media align-items-center">
											<span class="me-2 mb-1 mx-5 font-w200">
												                    <i class="fa-solid fa-clipboard-list"></i>
											</span>
                                        <div class="media-body ms-1">
                                            <p class="mb-1 fs-14">Total Schedules</p>
                                            <h3 class="mb-0 text-black font-w600 fs-20" th:text="${schedules.size()}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="example5_wrapper" class="dataTables_wrapper no-footer">
                            <table id="example5"
                                   class="display mb-4 table-responsive-xl dataTablesCard fs-14 dataTable text-center no-footer"
                                   role="grid" aria-describedby="example5_info">
                                <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Cust.Id: activate to sort column ascending"
                                        style="width: 72.8194px;">Show Id
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Date Join: activate to sort column ascending"
                                        style="width: 70.6389px;">Show Name
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Ticket Ordered: activate to sort column ascending"
                                        style="width: 70.111px;">Show Time
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Location: activate to sort column ascending"
                                        style="width: 70.028px;">Cinema name
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Location: activate to sort column ascending"
                                        style="width: 70.028px;">Theater name
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Location: activate to sort column ascending"
                                        style="width: 70.028px;">Movie name
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label="Location: activate to sort column ascending"
                                        style="width: 70.028px;">Price ticket
                                    </th>
                                    <th tabindex="0" aria-controls="example5" rowspan="1" colspan="1"
                                        aria-label=": activate to sort column ascending" style="width: 40.0417px;">
                                        Action
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="even" th:each="i: ${schedules}">
                                    <td th:text="${i.id}"></td>
                                    <td th:text="${i.showName}"></td>
                                    <td th:text="${i.time}"></td>
                                    <td th:text="${i.cinema.name}"></td>
                                    <td th:text="${i.theater.name}"></td>
                                    <td th:text="${i.movie.name}"></td>
                                    <td th:text="${i.tickets[0].price} + VND"></td>
                                    <td class="d-flex justify-content-center">
                                    <td class="d-flex justify-content-center">
                                        <a type="button" id="showInfo" class="mr-5 btn btn-sm btn-outline-warning" th:href="@{'/admin/update-schedule?id=' + ${i.id}}">Update</a>
                                        <div class="mx-3"></div>
                                        <a type="button" class="btn-sm btn btn-outline-danger" th:href="@{'/admin/delete-schedule?id=' + ${i.id}}">Delete</a>
                                    </td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">DexignZone</a> 2022</p>
        </div>
    </div>
</div>

<th:block th:insert="admin/layouts/script"></th:block>

</body>
</html>