<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="admin/layouts/head"></th:block>
<body>
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<div id="main-wrapper">
    <th:block th:insert="admin/layouts/layout"></th:block>
    <!--  todo content-->
    <div class="content-body">
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Cenima</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form action="" method="post" th:object="${cinema}" enctype="multipart/form-data">
                                    <div class="row mb-2">
                                        <div>
                                            <label class="form-label">Province</label>
                                            <div class="dropdown bootstrap-select default-select form-control wide dropup">
                                                <select th:field="*{provinceId}"
                                                        class="default-select form-control wide">
                                                    <option th:each="item : ${provinces}" th:value="${item.id}"
                                                            th:text="${item.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 mb-2">
                                            <label class="form-label"
                                            >Cinema Name</label>
                                            <input
                                                    th:field="*{name}"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Cenima Name"
                                            />
                                            <small th:if="${#fields.hasErrors('name')}"
                                                   th:errors="*{name}"
                                                   style="color: red ; font-style: italic"></small>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <label class="form-label"
                                            >Address detail</label>
                                            <input
                                                    th:field="*{location}"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Address detail"
                                            />
                                            <small th:if="${#fields.hasErrors('location')}"
                                                    th:errors="*{location}"
                                                    style="color: red ; font-style: italic"></small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-2">
                                            <label class="form-label">Image</label>
                                            <input class="form-control" type="file" th:name="uploadImage" multiple>
                                            <small th:if="${imageNull}" style="color: red ; font-style: italic">Yêu cầu nhập tối thiểu 1 ảnh!!</small>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div>
                                            <label class="form-label"
                                            >Phone</label>
                                            <input
                                                    th:field="*{phone}"
                                                    type="tel"
                                                    class="form-control"
                                                    placeholder="Phone"
                                            />
                                            <small th:if="${#fields.hasErrors('phone')}"
                                                   th:errors="*{phone}"
                                                   style="color: red ; font-style: italic"></small>
                                        </div>
                                    </div>
                                    <button
                                            type="submit"
                                            class="btn btn-primary mt-3"
                                    >
                                        Add Cenima
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">DexignZone</a> 2022</p>
        </div>
    </div>
</div>
<th:block th:insert="admin/layouts/script"></th:block>
</body>
</html>