<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/enterprise/css/enterprise.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/swiper-bundle.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/styles.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/colorbox.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/madisonisland.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/g-erp-cgv.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/custom-cgv.css" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" media="all"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="https://www.cgv.vn/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/noconflict.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/ccard.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/prototype/validation.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/builder.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/effects.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/dragdrop.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/controls.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/varien/js.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/varien/form.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/mage/translate.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/mage/cookies.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/google/ga.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/selectivizr.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/matchMedia.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/matchMedia.addListener.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/enquire.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/cgv.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/app.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.swipe.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.carousel.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/slideshow.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/imagesloaded.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/enterprise/js/scripts.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/minicart.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/enterprise/js/enterprise/catalogevent.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/enterprise/js/enterprise/wishlist.js"></script>
</head>